.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
form input {float:left; clear:left; margin: 5px;}
form button {float:left; clear:left; margin: 5px;}
.error {border:solid 1px red}